
body {
margin: 0;
text-align: center;
font-family:'Merriweather', serif;
}
h1 {
margin-top: 50px;
font-family: 'Sacramento', cursive;
font-size: 88px;
}
h2 {
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
font-weight: normal;
line-height: 2;
color: #45969b;
}
h3 {
font-family: 'Montserrat', sans-serif;
}


.top-container {
background-color: #E4F9F5;
position: relative;
padding-top: 100px;
}

.giphy {
  background-color: white;
font-family: sans-serif;
padding-top: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 200px
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 10px;
}
.middle-container {
  background-color: #f9f6f2;
  position: relative;
}
.bottom-container {
  background-color: #696464;
  position: relative;
  padding-bottom: 20px;
}

.contact-me {
  padding-top: 20px;
  background-color: #696464;
  position: relative;
}
.profile {
  background-color: white;
  position: relative;
  padding-bottom: 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill1 {
  width: 130px;
  float: left;
  margin-right: 30px;
}
.skill2 {
  width: 130px;
  float: right;
  margin-left: 30px;
}
